############################
# General rules
############################

# Backup files (for older dotfiles)
backup

############################
# Vim/Nvim Common rules
############################
# Swap temporal files
*.swp


############################
# Nvim rules
############################
# Nvim config experiments
nvim/experiments


############################
# Other apps
############################
# Ptpython: Python REPL
ptpython/history

# Ansible: Lock file
ansible.lock

tasks

# Build artifacts & local state
tags
.history/
