############################
# General rules
############################

# Backup files (for older dotfiles)
backup

############################
# Vim/Nvim Common rules
############################
# Swap temporal files
*.swp


############################
# Vim rules
############################
# Ignore files containing plugins, swap files, undo files, backup files, etc
vim/*
!vim/.gitkeep


############################
# Nvim rules
############################
# Nvim config experiments
nvim/experiments
!vim/experiments/.gitkeep


############################
# Other apps
############################
# Ptpython: Python REPL
ptpython/history

# w3m browser
w3m/cookie
w3m/history

# Ansible: Lock file
ansible.lock
