####################
#  BASH CONFIG     #
####################

# Local config file, you can edit:
#  - ~/.bashrc (this file)
#     - The changes won't affect the dotfiles
#     - It will apply just to BASH config
#  - ~/.localrc
#     - The changes won't affect the dotfiles either
#     - The changes will be applied to both BASH + ZSH config
#  - ~/dotfiles/bashrc
#     - The change will be included in the dotfiles config
#     - It would only apply to BASH config
#  - ~/dotfiles/commonrc:
#     - The change will be included in the dotfiles config
#     - It would only apply to both BASH + ZSH config

# Load base bashrc config
source ~/dotfiles/bashrc

# Load common config
source ~/dotfiles/commonrc

# Load local config
if [[ -a ~/.localrc ]]; then
	source ~/.localrc
fi

